In [2]:
import numpy as np
import math as mth

In [6]:
# Multplication of two matrix
m1 = np.array([[1,2],[3,4],[5,6]]) # 2x3
m2 = np.array([[1,1],[2,2]]) # 2x2
np.dot(m1,m2)

array([[ 5,  5],
       [11, 11],
       [17, 17]])

In [13]:
# Elements wise multiplication
m3 = np.array([[1,2],[1,3],[1,4]])
m1*m3

array([[ 1,  4],
       [ 3, 12],
       [ 5, 24]])

In [15]:
# Element wise squaring
np.square(m1)

array([[ 1,  4],
       [ 9, 16],
       [25, 36]])

In [18]:
# Element wise reciprocal
np.reciprocal(m1.astype(float))

array([[1.        , 0.5       ],
       [0.33333333, 0.25      ],
       [0.2       , 0.16666667]])

In [20]:
# Element wise logrithm
np.log(m1)

array([[0.        , 0.69314718],
       [1.09861229, 1.38629436],
       [1.60943791, 1.79175947]])

In [22]:
# Element wise exponential
np.exp(m1)

array([[  2.71828183,   7.3890561 ],
       [ 20.08553692,  54.59815003],
       [148.4131591 , 403.42879349]])

In [24]:
# Negative Elements
-m1

array([[-1, -2],
       [-3, -4],
       [-5, -6]])

In [28]:
# Incrementing Elements with one
# m1 + np.ones(m1.shape, dtype=int)
m1 + 1

array([[2, 3],
       [4, 5],
       [6, 7]])

In [34]:
# Transpose 
m1.transpose()

array([[1, 3, 5],
       [2, 4, 6]])

In [37]:
# Get Max Element
m1.max()

6

In [44]:
# Get column wise max value
np.amax(m1,axis=1) 
# Change Value of axis to 0 to get the row wise max

array([2, 4, 6])

In [46]:
# Get column wise min value
np.amin(m1,axis=1) 
# Change Value of axis to 0 to get the row wise min

array([1, 3, 5])

In [48]:
# Element wise comparision
m1<3

array([[ True,  True],
       [False, False],
       [False, False]])

In [57]:
# Find Element with comparision
ind = np.where(m1<6) # returns indices of the satisfied condition
m1[ind]

array([1, 2, 3, 4, 5])

In [63]:
# Get the sum of all the Elements
m1.sum()

21

In [65]:
# Get the product of all the Elements
m1.prod()

720

In [70]:
# Flattern Elements
m1.flatten()

array([1, 2, 3, 4, 5, 6])